.card {
  width: 320px;
  height: 490px;
  margin: 20px auto;
  margin-bottom: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  


}

.card-header {
  background-image: url(../imagen/tamaño_imagen.jpg);
  height: 174px;
  width: 320px;
  color: #fff;

}

.card-body {

  align-self: center;

}

.card-icons {
  display: flex;
  align-items: center;
  gap: 12rem;
  align-items: center;
}

.card-icons-thumb {
  display: flex;
  align-items: center;

}

.card-icons-like {
  display: flex;
  align-items: center;
}

.card-precio {
  color: red;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boton-comprar {
  background-color: #428bca;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 320px;
  height: 60px;



}

.boton-comprar:hover {
  background-color: #337ab7;
}